<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700'>
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Serif:400,700'>
<link rel="stylesheet" href="/css/styles.css">
<link rel="alternate" href="http://feeds.feedburner.com/OnMakingWebThings" type="application/rss+xml" title="On Making Web Things Feed">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<script src="/js/modernizr.js"></script>