* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html {
  --tango:#e1523d;
  --blue-comp:#348ec0;
  --green-comp:#80cb37;
  --purp:#b163a3;
}

body {
  font-family:'Noto Sans', sans-serif;
  font-size:13px;
  line-height:1.4;
  background:white;
  color:#555;
}

.grid {
  display:grid;
  grid-template-columns:70% 30%;
  grid-template-rows:1fr;
  gap:0 0;
  grid-template-areas:"main aside";
}

.grid > .left {
  grid-area:main;
}

.grid > .right {
  grid-area:aside;
}

main {
  padding:0 2em;
}

aside {
  background-color:var(--tango);
  color:rgba(255,255,255,.8);
  padding-top:.6em;
}

aside ul {
  list-style:none;
  margin-left:0;
}

aside h2 {
  color:#fff;
  background:rgba(0,0,0,.3);
  padding-top:0.25em;
  padding-bottom:0.25em;
}

h1 {
  font-size:2em;
  margin:1em 0 0.5em 0;
  color:#111;
}

h2 {
  font-size:1.5em;
  color:#111;
  margin-bottom:0.5em;
  margin-top:1em;
}

p, ul {
  margin:1em 0;
}

ul {
  margin-left:1em;
}

aside a {
  color:#fff;
  text-decoration:underline;
}
aside a:hover {
  background-color:rgba(0,0,0,.3);
}

.contact .fa {
  margin-right:0.5em;
}

aside h3 {
  font-size:1em;
  color:#fff;
}

.guttered {
  padding-left:16px;
  padding-right:16px;
}

.work {
  margin-bottom:1em;
}

.work .left {
  padding-right:1em;
}

.technologies {
  background-color:var(--blue-comp);
  color:rgba(255,255,255,0.8);
  margin-top:1em;
}

.technologies h4 {
  color:#fff;
  padding-top:0.25em;
  padding-bottom:0.25em;
  background-color:rgba(0,0,0,.3);
}

.technologies ul {
  list-style:none;
  font-size:0.875em;
  margin:0;
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.footnote {
  border-top:1px solid rgba(0,0,0,.3);

.print-only {
  display:none;
}

@media print {
  .print-only {
    display:block;
  }

  .screen-only {
    display:none;
  }
}
